<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <%= stylesheet_link_tag  "application-mailer", media: "all" %>
  </head>

  <body class="bg-light">
    <div class="container">
      <h1 class="text-center mb-4">
        Standup App
      </h1>

      <div class="card mb-4">
        <div class="card-body">
          <h3 class="text-center mb-4"><%= @title %></h3>
          <p class="mb-4">
            <%= yield %>
          </p>

          <%= link_to "Access Billing Center",
           billing_index_url(),
           { class: "btn btn-primary btn-lg mx-auto mt-2", style: "width:95%"} %>
        </div>
      </div>
    </div>
  </body>
</html>
